@page "/pizzas"
@inject HttpClient Http
@using PizzaStoreApp.Client.Models

<h3>Liste des Pizzas</h3>

@if (pizzas is null)
{
    <p>Chargement...</p>
}
else if (!pizzas.Any())
{
    <p>Aucune pizza trouvée.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Sans Gluten</th>
                <th>Prix</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pizza in pizzas)
            {
                <tr>
                    <td>@pizza.Id</td>
                    <td>@pizza.Name</td>
                    <td>@(pizza.IsGlutenFree ? "Oui" : "Non")</td>
                    <td>@pizza.Price €</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    List<Pizza>? pizzas;

    protected override async Task OnInitializedAsync()
    {
        pizzas = await Http.GetFromJsonAsync<List<Pizza>>("pizza");
    }
}
