.register-container {
    max-width: 400px;
    margin: 5rem auto;
    padding: 2rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.register-container h3 {
    text-align: center;
    margin-bottom: 38.5px;
    margin-top: 6.5px;
}

.register-container a {
    display: block;
    text-align: center;
}

.inscription-button {
    margin-top: 15px;


    width: 100%;
}

.success {
    display: flex; 
    align-items: center; 
    margin:0 0 20px 0; 
    width: 335px; 
 
}

.success > p {
    margin : 0 20px 0 0; 
}

.success > div {
    width: 20px; 
    height: 20px; 
}